.hamburger {
  display: none;
}

#hamburger-btn {
  display: none;
}

/*----------------------------------------- MOBILE 1300px -----------------------------------------*/

@media (max-width: 1300px) {

  .container-drink-menu {
    flex-wrap: wrap;
  }

  .coffee-drinks img,
  .other-drinks img {
   width: 85vw;
    height: auto;
}

}

/*----------------------------------------- MOBILE 1080px -----------------------------------------*/

@media (max-width: 1080px) {

  .hero {
    position: relative;
  }

  .navbar {
    top: 20px;
    width: 100%;
    padding: 0;
    gap: 0;
    background: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .logo {
    top: 0;
  }

  .logo img {
    height: 200px;
  }

  #hamburger-btn {
  display: none;
  }

}

/*----------------------------------------- MOBILE 800px starts hamburger menu -----------------------------------------*/

@media (max-width: 800px) {
  .hero {
    position: relative;
  }

   .container-about p,
   .container-home p {
    max-width: 785px;
  }

  .container-drink-menu {
    max-width: 85vw;
    justify-content: center;
    box-sizing: border-box;
  }

  .home img {
    width: 90%;
    max-width: 750px;
    height: auto;
    left: 0;
    position: static;
    display: block;
    margin: 0 auto;
  }

  .logo {
    top: 0;
    padding-left: 60px;
  }

  .logo img {
    width: 100%;
  }

  .navbar > nav {
    display: none;
  }

    #hamburger-btn {
    display: block;
    position: absolute;
    top: 100px;
    right: 60px;
    z-index: 1000;
    background-color: #fff;
    border-radius: 5px;
  }

  #hamburger-btn .hamburger {
    display: block;
    cursor: pointer;
    background: #fff;
    border: none;
    border-radius: 8px;
    width: 60px;
    height: 50px;
    padding-bottom: 35px;
  }

  .hamburger-box {
    width: 30px;
    height: 20px;
    display: flex;
    background: #fff;
    align-items: center;
    justify-content: center;
    position: absolute;
  }

  .hamburger-inner {
    display: block;
    position: relative;
    width: 30px;
    height: 3px;
    background-color: var(--black-text-color);
    border-radius: 4px;
    transition: transform 0.15s ease;
  }

  .hamburger-inner::before,
  .hamburger-inner::after {
    content: "";
    display: block;
    position: absolute;
    width: 30px;
    height: 3px;
    background-color: var(--black-text-color);
    border-radius: 4px;
    transition: transform 0.15s ease;
    left:0;
  }

  .hamburger.is-active .hamburger-inner::before {
    opacity: 0;
  }

  .hamburger.is-active .hamburger-inner::after {
    bottom: 0;
  }

  #hamburger-btn > nav {
    display: block;
    position: relative;
  }

  #hamburger-btn .nav-links {
    position: fixed;
    top: 200px; 
    display:none;
    left: 0;
    width: 100%;
    max-width: 100%; 
    flex-direction: column;
    gap: 0;
    padding: 20px 0;
    transition: top 0.3s ease; 
    background-color: #fff;
    border-radius: 0;
    margin: 0;
    z-index: 998; 
    list-style: none;
    text-align: center;
    align-items: center;
  }

  #hamburger-btn .nav-links.show {
    top: 200px;
    display: flex;
  }

  #hamburger-btn .nav-links li {
    border-bottom: 1px solid #eee;
    width: 100%;
  }

  #hamburger-btn .nav-links li:last-child {
    border-bottom: none;
  }

  #hamburger-btn .nav-links a {
    font-size: 25px;
    font-weight: var(--h2-font-weight);
    display: block;
    padding: 20px;
    color: var(--black-text-color);
  }

  #hamburger-btn .nav-links a:hover {
    background-color: #f5f5f5;
    color: var(--hover-color);
  }
}
/*----------------------------------------- MOBILE 600px -----------------------------------------*/

@media (max-width: 600px) {

  .container-drink-menu {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 10px;
    width: 100%;
    max-width: 100%;
  }

   .container-about p, 
   .container-home p {
    max-width: 585px;
  }

  .coffee-menu,
  .other-drinks-menu-main {
    flex-direction: column;
    align-items: center;
    gap:0px;
  }

  .coffee-menu .col-1,
  .coffee-menu .col-2,
  .other-drinks-menu-main .col-1,
  .other-drinks-menu-main .col-2 {
    flex-direction: row;
    align-items: center;
    text-align: left;
  }

  .coffee-menu .col-1,
  .other-drinks-menu-main .col-1 {
    padding-top: 20px;
  }

  .coffee-menu .col-2,
  .other-drinks-menu-main .col-2 {
    margin-top: -19px;
  }

  .other-drinks-menu-main .col-2 {
    gap: 55px;
  }

  .coffee-menu img,
  .other-drinks img {
    width: 85vw;
    height: auto;
  }

  .teas ul {
    grid-template-columns: repeat(2, 1fr);
    text-align: left;
  }

  .teas {
    justify-content: center;
    margin: 0 auto;
  }
}

/*----------------------------------------- MOBILE 500px -----------------------------------------*/

@media (max-width: 500px) {
  .hero {
    min-height: 200px;
  }

  .logo {
    top: 0;
    padding: 0;
  }

  .logo img {
    width: 150px;
    height: auto;
  }

   .container-about p,
   .container-home p  {
    max-width: 485px;
  }

}

/*----------------------------------------- MOBILE 475 px -----------------------------------------*/

@media (max-width: 475px) {
  .hero {
    padding-bottom: 75px;
  }

  .container-about p {
    align-items: center;
    justify-content: center;
    text-align: center;
    max-width: 310px;
  }

  .container-home p {
    max-width: 310px;
  }
  
.container-drink-menu {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 100%;
    margin: 0 auto;
    padding: 0;
  }

  h1 {
    font-size: 27px;
  }

  .coffee-drinks,
  .other-drinks {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .coffee-drinks img,
  .other-drinks img,
  .container-about img {
    width: 90%;
    max-width: 320px; 
    height: auto;
    display: block;
    margin: 0 auto;
  }

  .container-food-menu img {
    max-width: 310px;
  }

  .about img {
    width: 90%;
    max-width: 320px;
    height: auto;
    left: 0;
    position: static;
    display: block;
    margin: 0 auto;
  }

  .teas ul li {
    font-size: 16px;
  }
  .logo img {
    width: 150px;
    height: auto;
  }

  .home img {
    width: 90%;
    max-width: 320px;
    height: auto;
    left: 0;
    position: static;
    display: block;
    margin: 0 auto;
  }

  #hamburger-btn {
    right: 10px;
  }
}